.form__input {
    width: 100%;
    margin: 0 0 30px;
    padding: 0 0 8px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.form__input:last-of-type {
    margin: 0 0 48px;
}

.form__input:focus {
   outline: none;
}

.form__input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

@media screen and (max-width: 555px){
    .form__input:last-of-type {
        margin: 0 0 45px;
    }
}